body{margin: 0;
padding:0;
height:100%;
overflow: hidden;
color: white;}

h1{position: relative;
background:linear-gradient(to right, #91eae4, #7f7fd5);
background-clip: text;
-webkit-text-fill-color:transparent;
margin-left:1vw;
}

.container{
    display:flex;
    height: 100vh;
}

#toolbar{
    display: flex;
    flex-direction: column;
    padding:15px;
    width:70px;
    background-color: #202020;
    *{
        margin-bottom: 6px;
    }
    label{
        font-size: 12px;
        cursor: pointer;
    }
    input{width:100%;
        cursor: pointer;
    }
    button{
        background-color: #1565c0;
        border:none;
        border-radius: 4px;
        color: white;
        padding:2px;
        cursor: pointer;
    }
}
